.aboutImage {
  background: url("../../../public/about-bg-image.svg") no-repeat;
  background-position: center center;
  background-size: contain;
  position: relative;
  margin-right: 0;
  padding-bottom: 100px;
}

/* Responsive adjustments for larger screens */
@media (min-width: 768px) {
  .aboutImage {
    margin-right: 50px;
    padding-bottom: 200px;
  }
}

.aboutImg1 {
  width: 100%;
  max-width: 410px;
  margin: 0 auto;
}

.aboutImg2 figure,
.aboutImg1 figure {
  display: block;
  width: 100%;
}

.aboutImg1 img {
  aspect-ratio: 1 /0.96;
  object-fit: cover;
  border-radius: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .aboutImg1 img {
    border-radius: 40px;
  }
}

.aboutImg2 {
  position: absolute;
  bottom: 0;
  right: 80px;
  width: 60%;
  max-width: 300px;
}

@media (min-width: 768px) {
  .aboutImg2 {
    width: auto;
    max-width: none;
    right: -60px;
  }
}

.aboutImg2 img {
  aspect-ratio: 1 /0.72;
  object-fit: cover;
  border: 5px solid white;
  border-radius: 20px;
  width: 100%;
}

@media (min-width: 768px) {
  .aboutImg2 img {
    border: 7px solid white;
    border-radius: 40px;
  }
}

.aboutExperience {
  position: absolute;
  top: 0;
  right: 0;
  transform: translate(-20%, 20%);
  width: 80px;
}

@media (min-width: 768px) {
  .aboutExperience {
    transform: translate(-50%, 50%);
    width: auto;
  }
}

.aboutExperience img {
  animation: rotate 30s infinite linear;
  width: 100%;
}

.about-us-body {
  margin-bottom: 20px;
}

@media (min-width: 768px) {
  .about-us-body {
    margin-bottom: 40px;
  }
}

.aboutUsBody ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

@media (min-width: 768px) {
  .aboutUsBody ul {
    gap: 20px;
  }
}

.aboutUsBody ul li {
  position: relative;
  width: 100%;
  font-weight: 600;
  color: var(--primary-color);
  text-transform: capitalize;
  padding-left: 25px;
}

@media (min-width: 640px) {
  .aboutUsBody ul li {
    width: calc(50% - 5px);
  }
}

@media (min-width: 768px) {
  .aboutUsBody ul li {
    width: calc(50% - 10px);
    padding-left: 30px;
  }
}

.aboutUsBody ul li:before {
  content: "\f058";
  font-family: "Font Awesome 6 Free";
  font-weight: 900;
  font-size: 16px;
  color: var(--accent-color);
  display: inline-block;
  line-height: normal;
  position: absolute;
  top: 3px;
  left: 0;
}

@media (min-width: 768px) {
  .aboutUsBody ul li:before {
    font-size: 20px;
  }
}

.imageAnime {
  position: relative;
  overflow: hidden;
  width: 100%;
}

.imageAnime:after {
  content: "";
  position: absolute;
  width: 200%;
  height: 0%;
  left: 50%;
  top: 50%;
  background-color: rgba(255, 255, 255, 0.3);
  transform: translate(-50%, -50%) rotate(-45deg);
  z-index: 1;
}

.imageAnime:hover:after {
  height: 250%;
  transition: all 600ms linear;
  background-color: transparent;
}

.reveal {
  position: relative;
  display: inline-flex;
  visibility: hidden;
  overflow: hidden;
  width: 100%;
}

.reveal img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  transform-origin: left;
}

@keyframes rotate {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}